/*labels length*/
.ie-labels{
    max-width: 250px;
}
.ie-label-long{
    max-width: 600px;
}
.ie-label-bigdir{
    display: inline-block;
    width: 500px;
}
input[type=range]{
    margin: 0;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 0;
    color: transparent;
}
.table-btn{
    width: 32px;
    height: 32px;
    font-size: 20px;
}
#biggestdirectorActVall,
#biggestdirectorActVallBonus{
    bottom: 15px;
}
#amountDebut,
#amountDebutBonus{
    top: 0;
}
#biggestdirector:before{
    bottom: 310px;
}
/*.row-class .cell-class:first-child{*/
    /*width: 500px;*/
    /*margin-right: 20px;*/
    /*background: #f00;*/
    /*!*border-right: 1px solid transparent;*!*/
    /*position: relative;*/
/*}*/

/*.row-class .cell-class:first-child:before{*/
    /*content: '';*/
    /*display: block;*/
    /*width: 1px;*/
    /*height: 100%;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 3px;*/
    /*background: #f00;*/
/*}*/
